@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    transition: 0.2s color, 0.2s background;
    box-sizing: border-box;
    color: #222;
    scroll-behavior: smooth;
}



.container{
    width: 90%;    
    margin: 0 auto;
}

.section{
    width: 100%;
}
.section:first-child{
    padding: 20px 0;
}
    
.img-div{
    width: 100%;
    margin: 50px auto;
}
.img{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.img-div-website{
    padding: 25px 0 100px;
}
.img-website{
    display: block;
    border-radius: 25px;
    box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.5);
    width: 100%;
}
.section-text{
    width: 100%;
}
.section-title{
    width: 100%;
    font-size: 42px;
    line-height: 1;
}
.section-hero-title{
    font-size: 64px;
}
.section-article{
    width: 100%;
    font-size: 18px;
    padding: 15px 0;
}
.section-btn{
    padding: 5px 10px;
    background-color: transparent;
    border: 3px #222 solid;
    border-radius: 15px;
    font-size: 24px;
    width: max-content;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.section-header-div{
    padding: 50px 0 150px;
}
.section-header{
    width: 100%;
    padding: 0;
    flex: 2;
    line-height: 1;
}
.section-header-text{
    text-align: center;
    font-size: 64px;
}
.section-header-img-div{
    flex:1;
}

.bulb-switch{
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 20px;
}
.bulb-switch-img{
    width: 100%;
    height: 100%;
}

.social-links{
    width: 32px;
    height: 111px;
    position: fixed;
    bottom: 20px;
    right: 5px;
}
.link{
    width: 32px;
    height: 32px;
    display: block;
    margin: 5px 0;
    padding: 5px;
    background-color: #fff;
    border-radius: 15px;
}
.link-img{
    width: 100%;
    height: 100%;
}


.navigation{
    width: max-content;
    position: fixed;
    left: 15px;
    top: 20px;
}
.nav-link{
    display: list-item;
    list-style-type: none;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.2s opacity ease-in-out;
}
.nav-link:hover, .nav-link:focus{
    opacity: 1;
}

.dark-theme{
    color: #fff;
    border-color: #fff;
}
.dark-theme-buttons{
    color: #fff;
    border-color: #fff ;
}

.contact{
    width: 90%;
    margin: 0 auto;
}
.contact-form{
    width: 100%;
}
.contact-input, .contact-msg{
    display: block;
    width: 100%;
    margin: 15px 0;
    border: none;
    font-size: 18px;
    border-radius: 15px;
    padding: 10px;
    border: 2px #222 solid;
}
.contact-msg{
    resize: none;
    height: 100px;
}
.section-contact{
    padding-bottom: 20px;
}
#send-btn{
    margin: 0 auto;
}

.footer{
    width: 100%;
    display: block;
    background-color: #222;
    margin-top: 150px;
    border-top: 20px solid rgb(70, 70, 70);
}
.footer-content{
    padding: 20px 40px;
    position: relative;
}
.footer-title{
    color: #fff;
    font-size: 24px;
}
.footer-text{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    display: list-item;
    list-style-type: none;
    text-decoration: none;
}
.dogory{
    text-decoration: underline;
}

.copyright{
    position: absolute;
    bottom: 10px;
    left: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright-text{
    font-size: 14px;
    color: #fff;
    text-align: center;
    opacity: .7;
    font-weight: 200;
}


@media (min-width: 1024px){

    .container{
        width: 960px;
        margin: 0 auto;
    }
    .section{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .img-div, .section-text{
        margin: 40px;
    }
    .img-div-website{
        padding: 100px 0;
    }
    .section-btn{
        margin: unset;
    }
    .section-header-div{
        padding: 0;
    }
    .section-header{
        width: 100%;
        padding: 20px 0;
    }
    .bulb-switch{
        width: 64px;
        height: 64px;
    }
    .social-links{
        width: 38px;
        height: 133px;
    }
    .link{
        width: 38px;
        height: 38px;
        display: block;
        margin: 5px 0;
        padding: 5px;
        background-color: #fff;
        border-radius: 15px;
    }
    .contact{
        width: 60%;
    }
    .contact-msg{
        height: 150px;
    }


}

@media (min-width: 1600px){

    .container{
        width: 1530px;
        margin: 0 auto;
    }
    .contact{
        width: 50%;
    }
}