@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    color:white;
    font-size: 24px;
    font-family: 'Bebas Neue', 'Rubik', sans-serif;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
	height: 110vh;
	background-size: cover;
	background-position: center;
}
a{
    text-decoration: none;
}
h1{
    font-size: 36px;
}
button{
    font-size: 24px;
    background-color: rgba(0,0,0,0);   
    border: solid 2px #fff;
    border-radius: 15px;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    border: solid 2px rgba(219,16,16,0.7);
    text-shadow: 3px 3px rgba(219,16,16,0.4);
}
/* width */
::-webkit-scrollbar {
    width:5px;
    border-radius:2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #141414; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3e3e3e; 
    border-radius:3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.nav{
    height: 100%;
    width: 0px;
    background-color: #1f2020;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}
.menuIcon{
    position:fixed;
    top: 10px;
    left: 10px;
    height: 90px;
    cursor: pointer;
    transition: 0.1s;
}
.menuIcon:hover{
    top: 2px;
    left: 2px;
    height: 110px;
}
.helpIcon{
    display: block;
    height: 16px;
    padding: 5px;
    position: absolute;
    bottom: 35px;
    right: 25px;
    cursor: pointer;
    z-index: 2;
}
.pHelpIcon{
    display: none;
    position: absolute;
    bottom: 15px;
    right: 25px;
    font-size: 14px;
    font-family: 'sans-serif';
    background-color: #000;
    border: solid 1px #fff;
    z-index: 3;
    padding: 2px;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 48px;
    margin-left: 50px;
  }
.link{
    display: block;
    font-weight: 500;
    margin-left: 30px;
    padding: 10px;
    border-radius: 5px;
    flex:left;
    font-size: 36px;
    transition: 0.5s;
}
.hoverBar{
    display: block;
    height: 2px;
    width: 0px;
    margin-left: 30px;
    background-color: rgba(219,16,16,0.7);
    transition: 0.7s;
}
hr{
    border-color: #1b1b1b;
    width: 95%;
    margin: 0 auto;
}
.darker{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top:0;
    left: 0;
    z-index: 1;
    transition: 0.5s;
}
.centeredList, .centeredListv2{
    position: relative;
	list-style:none;
	text-align:center;
}

.centeredList li, .centeredListv2 li{
	display: inline-block;
}

.container{
    position: relative;
    width: 960px;
    margin: 100px auto;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* PERK RANDOMISER */
#charactersPost{
	display: block;
	width: 60%;
}
.checkWithLabel{
	display: none;
}
.randomiserCheckbox{
	display: inline-block;
    position: relative;
	height: 208px;
	width: 150px;
	margin: 5px;
	background-image: url("characters/survs/dwight.png");
    background-size: cover;
}

.randomiserCheckbox:hover{
	cursor: pointer;
}
.checkWithLabel:checked + .randomiserCheckbox{
	display: inline-block;
	height: 208px;
	width: 150px;
	background-color: rgba(0,128,0,0.5);
	border-radius: 5px;
}
.perkWindow{
    overflow-x: hidden;
	height:0px;
	width: 760px;
	position: absolute;
	top:20%;
    left: 100px;
	margin:0 auto;
    background-color: #1f2020;
    transition: 0.5s;
    z-index: 3;
}
#yourBuild{
	text-align: center;
    margin-bottom: 30px;
    font-size: 52px;
}
.buildRandomiserList{
	text-align: center;
	list-style-type: none;
}
.perk-image{
    height: 150px;
	background-image: url(perk-background.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
	margin: 0px 15px;
}
.perk-image:hover{
    background-size: 90%;
    transition: 0.5s;
    cursor: help;
}

/* PERK MENU*/
.perkMenu{
    display: block;
    position: fixed;
    top:0px;
    left: 0px;
    width: 0px;
    height: 100%;
    overflow-x: hidden;
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.8));
    z-index: 3;
    transition: 0.3s;
}
.perkMenu h1{
    width: 450px;
    margin: 30px auto;
    text-align: center;
    font-size: 48px;
}
.perkMenu .perk-image{
    height: 100px;
}
#characterPhoto{
    display: block;
    width: 250px;
    margin: 25px auto;
}
#lore{
    display: block;
    width: 450px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    transition: 0.5s;
    text-align: justify;
    margin: 0 auto;
}
#listBuildv2{
    width: 450px;
    margin: 0 auto;
    margin-top: 45px;
}
.contentMenu{
    width: 90%;
    margin: 15px auto;
}

@media screen and (max-device-width: 981px) {
    .menuIcon, .menuIcon:hover{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 110px;
    }
    .helpIcon{
        display: none;
        /* top: 15px;
        bottom: auto; */
    }
    .pHelpIcon{
        display: none;
        /* top: 35px;
        bottom:unset; */
    }
    .link{
        font-size: 104px;
        width: 50%;
        margin: 0 auto;
        flex: none;
        text-align: center;
    }
    .container{
        width: 95%;
    }
    button{
        margin: 10px;
        padding: 10px 15px;
        width: 55%;
        font-size: 52px;
    }
    .centeredListv2{
        margin: 10px auto;
    }
    .centeredListv2 li{
        display:list-item;
        margin: 5px auto;
    }
    .perkWindow{
        width: 90%;
        left: 5%;
    }
    #yourBuild{
        font-size: 108px;
    }
    .perkWindow .perk-image{
        height: 175px;
    }
    .randomiserCheckbox{
        width: 200px;
        height: 277px;
    }
    .checkWithLabel:checked + .randomiserCheckbox{
        width: 200px;
        height: 277px;
    }
    #characterName{
        font-size: 108px;
    }
    .contentMenu{
        margin: 0 auto;
    }
    #lore{
        width: 90%;
        font-size: 24px;
    }
    #listBuildv2{
        width: 90%;
    }
    .perkMenu .perk-image{
        height: 180px;
    }
    #characterPhoto{
        width: 60%;
    }
    .closebtn{
        font-size: 108px;
    }
}
