@import '../../App.scss';


.baseInput{
  display: flex;
  flex-direction: column;
  
  &_label{
    font-size: 14px;
    height: 20px;
    margin: {
      left: 2px;
      bottom: 4px;
    }
  }
  &_input{
    background-color: $secondary;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    height: 40px;
  }

  &_error{
    font-size: 12px;
    height: 20px;
    padding: {
      top: 4px;
      left: 2px
    };
    color: rgb(243, 43, 43);
  }


  & textarea{
    min-height: 150px;
    height: unset !important;
    padding: 10px;
    resize: none;
  }

}


.baseButton{
  width: 100%;
  height: 40px;
  background-color: $primary;
  outline: none;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .2s background-color;

  &:hover{
    background-color: $text-primary-dark;
    overflow: hidden;

    & img{
      animation: throwPlane 2s infinite;
    }
  }
  
  & p{
    font-size: 14px;
    font-weight: 600;
  }
  & img{
    margin-left: 5px;
    height: 18px;
    width: 18px;
    
  }
}

@keyframes throwPlane {
  0%{
    transform: translate(0,0);
  }
  10%{
    transform: translate(-15%, 15%);
  }
  50%{
    transform: translate(200%, -200%);
  }
  51%{
    transform: translate(-200%, 200%);
  }
}