.container{
    width: 96%;
    margin: 0 auto;
    height: 50vh;
    border: 2px solid red;
    overflow: hidden;
    position: relative;
}
.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px){
    .container{
        width: 90%;        
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1600px){
    .container{
        width: 1510px;
    }
}