

@media (min-width: 0px)
{
    .dm-mainTitleDiv{       /* Designed for 350px */
        width: 350px;  
        /* border: 2px solid red; */
    }
    .dm-mainTitleHead{
        font-size: 48px;
    }

    .dm-contactDiv{         /* Designed for 350 x 350 px */
        width: 350px;  
        height: 350px;
        /* border: 2px red solid; */
    }

    .dm-photoFrameDiv{
        width: 350px;
        height: 370px;
    }
    
    .dm-article1Div{    /* Designed for 340px x 250px */
        width: 350px; 
        max-height: 250px;
        /* border: 2px solid red; */
    }
}

@media (min-width: 768px){

}
