@import '../../App.scss';

.home{
  width: 100%;
  min-height: 100vh;
  padding: 8vh 0;
  background-color: $dark;
  margin-bottom: 10vw;
  position: relative;

  & .content{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 10;

    & .heading{

      & img{
        width: 75%;
        height: 75%;
      }

      & .text{
        width: 100%;
        margin-top: 2vh;

        & h2{
          font-size: 24px;
          color: $text-primary-dark;
          margin-left: 2px;
        }
        & h1{
          font-size: 46px;
          line-height: .9;
        }
        & h1:nth-child(3){
          color: $text-primary;
          margin-bottom: 10vh;
        }
        & div{
          display: flex;
          align-items: center;

          & .work{
            width: max-content;
            background-color: $primary;
            padding: 10px 15px;
            border-radius: 5px;
            font-weight: 600;
            outline: none;
            border: none;
            display: flex;
            align-items: center;
            font-size: 16px;
            cursor: pointer;
            transition: .3s background-color;
            
            &:hover{
              background-color: $text-primary-dark;
            }

            & img{
              height: 20px;
              width: 20px;
              margin-right: 5px;
                       
            }
          }

          & .contactme{
            font-size: 16px;
            font-weight: 500;
            color: $text-primary-light;
            margin-left: 30px;
            cursor: pointer;
            position: relative;
            padding: 5px 0;
            transition: .2s color;

            &::before{
              content: '';
              width: 100%;
              height: 2px;
              background-color: $text-primary-dark;
              position: absolute;
              bottom: 0;
              left: 0;
              clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
              transition: .2s ease-out clip-path;
            }
            &:hover{
              color: $primary;
            }
            &:hover::before{
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
          }
        }
      }
    }
  }

  & .tags{
    & h3{
      font-size: 18px;
      margin-top: 5vh;
    }
  }

  & .aboutme{
    font-size: 16px;
    color: $text-primary-light;
    margin-top: 5vh;
    width: 90%;
  }

  & .primary-rect{
    width: 80vw;
    height: 80vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $primary;
    clip-path: polygon(15% 0, 80% 0, 0 80%, 0 15%);
    z-index: 1;
  }
  & svg{
    position: absolute;
    top: 100%;
  }
}

@media screen and (min-width: 600px) {
  .home{
    width: 100%;
    min-height: 60vh;
    padding-top: 10vh;
    background-color: $dark;
    margin-bottom: 10vw;
    position: relative;
  
    & .content{
      width: 90%;
      margin: 0 auto;
      position: relative;
      z-index: 10;
  
      & .heading{
        display: flex;
        column-gap: 25px;
  
        & img{
          width: 40%;
          height: 40%;
          max-width: 250px;
          max-height: 250px;
        }
  
        & .text{
          width: 100%;
          margin-top: 0;
  
          & h2{
            font-size: 24px;
            color: $text-primary-dark;
            margin-left: 2px;
          }
          & h1{
            font-size: 46px;
            line-height: .9;
          }
          & h1:nth-child(3){
            color: $text-primary;
            margin-bottom: 10vh;
          }
          & div{
  
            & .work{
              padding: 8px 12px;
              font-size: 14px;
  
              & img{
                height: 18px;
                width: 18px;
              }
            }
  
            & .contactme{
              font-size: 14px;
              font-weight: 500;
              color: $text-primary-light;
              margin-left: 25px;
            }
          }
        }
      }
    }

    & .tags{
      & h3{
        margin-top: 45px;
      }
    }

    & .aboutme{
      margin-top: 45px;
    }

    & .primary-rect{
      width: 50vw;
      height: 50vw;
    }
  }
}


@media screen and (min-width: 1000px) {
  .home{
    & .content{
  
      & .heading{
        column-gap: 25px;
  
        & img{
          width: 40%;
          height: 40%;
          max-width: 320px;
          max-height: 320px;
        }
  
        & .text{
  
          & h2{
            font-size: 32px;
          }
          & h1{
            font-size: 60px;
          }
          & h1:nth-child(3){
            margin-bottom: 120px;
          }
          & div{
  
            & .work{
              padding: 12px 20px;
              font-weight: 600;
              font-size: 18px;
  
              & img{
                height: 22px;
                width: 22px;
                margin-right: 5px;
              }
            }
  
            & .contactme{
              font-size: 18px;
              margin-left: 50px;
            }
          }
        }
      }
    }

    & .tags{
      & h3{
        font-size: 24px;
      }
    }
  
    & .aboutme{
      font-size: 18px;
      color: $text-primary-light;
      width: 90%;
    }
  
    & .primary-rect{
      width: 45vw;
      height: 45vw;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $primary;
      clip-path: polygon(15% 0, 80% 0, 0 80%, 0 15%);
      z-index: 1;
    }
    & svg{
      position: absolute;
      top: 100%;
    }
  }
  
}

@media screen and (min-width: 2000px) {
  .home{
    min-height: unset;
    height: 600px;

    & .primary-rect{
      width: 1000px;
      height: 1000px;
    }
  }
}

.projects{
  width: 100%;
  padding: 120px 0;
  position: relative;

  &::before{
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    background-image: url('../../media/icons/iconCROSS.png');
    opacity: .5;
    position: absolute;
    top: 30%;
    left: 0;
    z-index: -1;
    max-height: 791px;
  }
}

@media screen and (min-width: 1000px) {
  .projects{  
    &::before{
      height: 70%;
      top: 20%;
    }
  }
}


.contact{
  width: 96%;
  max-width: 360px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;

  & .text{
    padding: 20px;
    border-left: 6px solid $primary;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.1;
    overflow: hidden;
    position: relative;

    & .vector {
      position: absolute;
      height: 100%;
      left: 50%;
      top: 0;
    }
    & .links{
      margin-top: 80px;
      & .link{
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        margin-top: 10px;
        text-decoration: none;
  
        & img{
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }

  & form{
    background-color: $dark;
    padding:30px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: relative;

    & .submitLine {
      display: grid;
      grid-template-columns: 1fr 100px;
      align-items: center;
    }

    .errorInfo{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      & img{
        height: 100px;
      }

      & h1{
        margin-top: 5px;
        font-size: 24px;
      }
      & p{
        font-size: 14px;
      }
    }
  }
}


@media screen and (min-width: 700px) {
  .contact{
    width: 96%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    & .text{
      padding: 30px;
      border-left: 10px solid $primary;
      font-size: 42px;

      & .links{
        margin-top: 130px;
        & .link{
          width: 100%;
          display: flex;
          align-items: center;
          font-size: 18px;
          font-weight: 500;
          margin-top: 10px;
          text-decoration: none;
    
          & img{
            height: 24px;
            margin-right: 15px;
          }
        }
      }
    }
  }
}