.desktopversion{
    display: none;
}

@media (min-width: 1600px){
    .mobileversion{
        display: none;
    }
    .desktopversion{
        display: block;
    }
    .heroDesktop{
        display: flex;
        width: 100%;
        height: 100vh;
    }
    .leftSite{
        flex-basis: 30%;
        height: 100%;
        background-color: #313131;
        position: relative;
    }
    .whiteBar{
        position: absolute;
        width: 280px;
        height: 20px;
        background-color: #fff;
        top:140px;
        right: 0;
    }
    .timelineCategory{
        transition: .5s;
    }
    .timelineDiv{
        position: absolute;
        width: 370px;
        right: 50px;
        top: 250px;
        height: 650px;
        overflow: hidden;
    }
    .timelineDesktop{
        width: 100%;
        position: absolute;
        left: 15px;
        top: 0;
        transition: .5s;
    }
    #timelineArticle0{
        top: -440px;
    }
    #timelineArticle1{
        top: -220px;
    }
    #timelineArticle2{
        top: 0;
    }
    #timelineArticle3{
        top: 220px;
    }
    #timelineArticle4{
        top: 440px;
    }
    #timelineArticle5{
        top: 660px;
    }
    #timelineArticle6{
        top: 880px;
    }

    #timelineProject0{
        top: 0;
    }
    #timelineProject1{
        top: 220px;
    }
    #timelineProject2{
        top: 440px;
    }

    #timelineHobby0{
        top: 0;
    }
    #timelineHobby1{
        top: 220px;
    }
    #timelineHobby2{
        top: 440px;
    }


    .timelineDesktop::before{
        content: '';
        height: 160px;
        width: 3px;
        background-color: #fff;
        position: absolute;
        left:-15px;
        top: 0;
    }
    .timelineDesktop::after{
        content: '';
        height: 20px;
        width: 3px;
        background-color: #fff;
        position: absolute;
        left: -15px;
        bottom: -30px;
    }


    .timelineTitle{
        font-size: 42px;
        font-weight: 700;
        line-height: 1;
    }
    .timelineSecondTitle{
        font-size: 28px;
        font-weight: 400;
    }

    .timelineDecoration{
        transform: rotate(-90deg);
        position: absolute;
        right: 290px;
        top:670px;
        font-size: 52px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.2);
        width: max-content;
        letter-spacing: 13px;
    }




    .rightSite{
        flex-basis: 70%;
        height: 100%;
        position: relative;
    }
    .greyBar{
        position: absolute;
        width: 280px;
        height: 20px;
        background-color: #313131;
        top:140px;
        left: 0;
    }
    .greyBar span{
        position: absolute;
        width: 10px;
        height: 20px;
        background-color: #313131;
        top:0;
        left: 285px;
    }
    .line1{
        width: 2px;
        height: 80px;
        background-color: #313131;
        position: absolute;
        left: 80px;
        bottom: 100px;
    }
    .line1::after{
        content: '01/2021';
        position: absolute;
        top: -40px;
        left: -24px;
        font-size: 11px;
        letter-spacing: 1px;
        transform: rotate(-90deg);
    }
    .line1 p{
        transform: rotate(-90deg);
        position: absolute;
        left: -70px;
        font-size: 18px;
        font-weight: 600;
    }
    .line1 img:first-child{
        height: 15px;
        position: absolute;
        bottom:-20px;
        left: -42px;
        cursor: pointer;
    }
    .line1 img:last-child{
        height: 15px;
        position: absolute;
        top:-70px;
        left: -42px;
        transform: rotate(180deg);
        cursor: pointer;
    }
    .line4{
        width: 80px;
        height: 2px;
        background-color: #313131;
        position: absolute;
        left: 130px;
        bottom: 25px;
    }
    .line4::after{
        content: '02/2021';
        position: absolute;
        top: -8px;
        right: -55px;
        font-size: 11px;
        letter-spacing: 1px;
    }
    .line4 p{
        position: absolute;
        left: 20px;
        top: -30px;
        font-size: 18px;
        font-weight: 600;
    }
    .line4 img:first-child{
        transform: rotate(90deg);
        height: 15px;
        position: absolute;
        top: -25px;
        left: -30px;
        cursor: pointer;
    }
    .line4 img:last-child{
        height: 15px;
        position: absolute;
        top: -25px;
        right: -80px;
        transform: rotate(-90deg);
        cursor: pointer;
    }
    .lineContact{
        width: 80px;
        height: 2px;
        background-color: #313131;
        position: absolute;
        right: 225px;
        bottom: 25px;
    }
    .lineContact::after{
        content: '03/2021';
        position: absolute;
        top: -8px;
        right: -55px;
        font-size: 11px;
        letter-spacing: 1px;
    }
    .lineContact p{
        position: absolute;
        left: 20px;
        top: -30px;
        font-size: 18px;
        font-weight: 600;
    }
    .lineContact img{
        height: 15px;
        position: absolute;
        top: -25px;
        right: -80px;
        cursor: pointer;
        transform: rotate(180deg);
        transition: 0.2s;
    }

    .profImg{
        position: absolute;
        top: 140px;
        right: 140px;
        width: 373px;
        height: 467px;
    }
    .profImg img{
        width: 100%;
    }
    .bottomBar{
        height: 10px;
        width: 185px;
        background-color: #313131;
        position: absolute;
        right: 0;
        bottom: -50px;
    }
    .bottomBar span{
        height: 10px;
        width: 7px;
        background-color: #313131;
        position: absolute;
        right: 192px;
        bottom: 0;
    }
    .profImg h1{
        position: absolute;
        top: 40%;
        right: 51%;
        font-size: 85px;
        font-weight: 300;
        color: #8878523b;
        transform: rotate(-90deg);
        width: max-content;
    }

    .textBoxDesktop{
        position: absolute;
        top: 200px;
        left: 4%;
        width: 460px;

    }
    .titleDesktop{
        font-size: 62px;
        font-weight: 300;
        line-height: 60px;
    }
    .titleDesktop:first-child{
        font-weight: 700;
    }
    .titleDesktop:nth-child(3){
        font-size: 36px;
        color: #8878526c;
    }
    .textBoxDesktop p{
        margin-top: 30px;
        padding-right: 20px;
        padding-right: 20px;
    }
    .line2{
        position: absolute;
        left: 280px;
        bottom: -30px;
        width: 150px;
        height: 3px;
        background-color: #313131;
    }
    .line2 span{
        position: absolute;
        left: -40px;
        bottom: 0;
        width: 30px;
        height: 3px;
        background-color: #313131;
    }
    .line2 span span{
        position: absolute;
        left: -20px;
        bottom: 0;
        width: 10px;
        height: 3px;
        background-color: #313131;
    }

    .iconBox{
        display: flex;
        width: 22px;
        height: 100%;
        position: absolute;
        right: 45px;
        bottom: 0;
        text-align: center;
        align-items: center;
    }
    .icons img{
        width: 100%;
        margin: 20px 0;
    }
    .contact{
        width: 400px;
        position: absolute;
        bottom: 10px;
        left: 360px; 
        overflow: hidden;   
    }
    .contactForm{
        width: 100%;
        display: block;
        border: 3px #000 solid;
        padding: 20px;
        transform: translateY(300px);
        transition: .5s;
        background-color: #fff;
    }
    .inputStyle{
        width: 100%;
        border: unset;
        border-left: 3px solid #000;
        border-bottom: 3px solid #000;
        margin: 15px 0;
        padding: 5px;
        color: #887852;
    }
    textarea{
        resize: none;
        height: 100px;
    }
    .submitBtn{
        display: block;
        margin: 0 auto;
        width: 50%;
        padding: 5px;
        background-color: transparent;
        border: 3px solid #000;
    }

}

@media (min-width: 1920px){
    .timelineDiv{
        right: 100px;
        top: 300px;
    }
    .profImg{
        position: absolute;
        right: 140px;
        width: 448px;
        height: 701px;
    }
    .profImg img{
        width: 100%;
    }
    .bottomBar{
        width: 240px;
        bottom: 80px;
    }
    .bottomBar span{
        height: 10px;
        width: 15px;
        background-color: #313131;
        position: absolute;
        right: 247px;
        bottom: 0;
    }
    .profImg h1{
        top: 40%;
        right: 60%;
    }
    .textBoxDesktop{
        top:230px;
    }
    .titleDesktop{
        font-size: 80px;
        line-height: 70px;
    }
    .textBoxDesktop p{
        font-size: 20px;
    }
    .timelineDecoration{
        right: 340px;
        top:720px;
    }
    .contact{
        width: 570px;
    }
    .contactForm{
        transform: translateY(500px);
    }
    textarea{
        height: 170px;
    }

}
@media (min-width: 2560px){
    .timelineDiv{
        right: 100px;
        top: 300px;
    }
    .profImg{
        right: 350px;
    }
    .lineContact{
        right: 435px;
    }
    .timelineDecoration{
        top:720px;
    }

}