@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

$primary: #479CFF;
$secondary: #273341;
$dark: #1B222C;

$text: #fff;
$text-dark: #666;
$text-primary: $primary;
$text-primary-dark: #3778C3;

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Montserrat', sans-serif;
  color: $text;
}

.h100{
  width: 100%;
  height: 100vh;
}